<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <title>Login</title>
        <div th:insert="layout/plantilla :: head"></div>
    </head>

    <body>
        <!-- NAVBAR -->
        <nav th:replace="layout/plantilla :: nav"></nav>
        <!-- END NAVBAR --> 
        <br>
        <br>
        <div class="container">
            <div class="row text-center contenido-blur">
                <div class="d-grid gap-2 mx-auto col-10">
                    <h1>Registro</h1>
                </div>
            </div>

            <div class="row">

                <form th:action="@{/signup}" th:object="${user}" method="post" > 
                    <div class="form-group">
                        <div class="d-grid gap-2 mx-auto col-10">
                            <div class="col-2">
                                <label for="nombre" class="form-label">Nombre</label>
                            </div>
                            <div class="col-12">
                                <input type="text" th:field="${user.nombre}" class="form-control" id="nombre" placeholder="nombre" value="" required>
                                <div class="alert-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Name Error</div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <div class="d-grid gap-2 mx-auto col-10">
                            <div class="col-2">
                                <label for="apellido" class="form-label">Apellido</label>
                            </div>
                            <div class="col-12">
                                <input type="text" th:field="${user.apellido}" class="form-control" id="username" placeholder="apellido" value="" required>
                                <div class="alert-danger" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}">LastName Error</div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <div class="d-grid gap-2 mx-auto col-10">
                            <div class="col-2">
                                <label for="direccion" class="form-label">Direccion</label>
                            </div>
                            <div class="col-12">
                                <input type="text" th:field="${user.direccion}" class="form-control" id="username" placeholder="direccion" value="" required>
                                <div class="alert-danger" th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}">Address Error</div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <div class="d-grid gap-2 mx-auto col-10">
                            <div class="col-2">
                                <label for="ciudad" class="form-label">Ciudad</label>
                            </div>
                            <div class="col-12">
                                <input type="text" th:field="${user.ciudad}" class="form-control" id="username" placeholder="ciudad" value="" required>
                                <div class="alert-danger" th:if="${#fields.hasErrors('ciudad')}" th:errors="*{ciudad}">City Error</div>
                            </div>
                        </div>
                    </div>
                    <br> 
                    <div class="form-group">
                        <div class="d-grid gap-2 mx-auto col-10">
                            <div class="col-2">
                                <label for="username" class="form-label">NombreUsuario</label>
                            </div>
                            <div class="col-12">
                                <input type="text" th:field="${user.username}" class="form-control" id="username" placeholder="username" value="" required>
                                <div class="alert-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</div>
                            </div>
                        </div>
                    </div>
                    <br>
                    
                    <div class="form-group">
                        <div class="d-grid gap-2 mx-auto col-10">
                            <div class="col-2">
                                <label for="password" class="form-label">Contraseña</label>
                            </div>
                            <div class="col-12">
                                <input type="password" th:field="${user.password}" class="form-control" id="password" placeholder="password" required>
                                <div class="alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <div class="form-group row">
                        <label th:text="Roles" class="col-lg-3 col-form-label form-control-label"></label>
                        <div class="col-lg-9">
                            <select class="form-control" size="3" th:field="${user.roles}">
                                <option th:each="rol :${role}" th:value="${rol.idRole}" th:text="${rol.nombre}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <br><br>
                    <div class="form-group">
                        <div class="d-grid gap-2 mx-auto col-4">
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Registrar</button>
                        </div>
                    </div>
                    <br>
                    <div class="alert alert-danger text-center" th:if="${formErrorMessage}" th:text="${formErrorMessage}">Error MEssage</div>

                </form>
            </div>
        </div> 
        <section th:replace="layout/plantilla :: section"></section>
    <!-- Start Footer -->
    <footer th:replace="layout/plantilla :: footer"></footer>
    <!-- End Footer -->

    <!-- JAVASCRIPT CDNS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> 
    </body>
</html>

