<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <title>Login</title>
        <div th:insert="layout/plantilla :: head"></div>
    </head>

    <body>
        <!-- NAVBAR -->
        <nav th:replace="layout/plantilla :: nav"></nav>
        <!-- END NAVBAR --> 
        <br>
        <br>
        <!-- Notificaciones-->
  <div class="row" th:if="${estado !=null and mensaje !=null}">
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
      </symbol>
      <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
      </symbol>
      <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
      </symbol>
    </svg>
    <div>
      <!-- Modificado Correctamente alt+39 es el ''-->
      <div class="alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert" th:if="${estado == 'EXITO'}">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
        <div th:text="${mensaje}">
          An example success alert with an icon
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

      <!--Error al modificar-->
        <div class="alert alert-danger d-flex align-items-center alert-dismissible fade show" role="alert" th:if="${estado == 'FALLO'}">
          <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
          <div th:text="${mensaje}">
            An example danger alert with an icon
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

    </div>
  </div>
  <!-- Fin de mensaje-->
        <div class="container">
            <div class="row text-center contenido-blur">
                <div class="d-grid gap-2 mx-auto col-10">
                    <h1>Inicio de Sesion</h1>
                </div>
            </div>

            <div class="row">

                <form th:action="@{/login}"  method="post" >    
                    <div class="form-group">
                        <div class="d-grid gap-2 mx-auto col-10">
                            <div class="col-2">
                                <label for="username" class="form-label">NombreUsuario</label>
                            </div>
                            <div class="col-12">
                                <input type="text" name="username" class="form-control" id="username" placeholder="username" value="" required>
                            </div>
                        </div>
                    </div>
                    <br>
    
                    <div class="form-group">
                        <div class="d-grid gap-2 mx-auto col-10">
                            <div class="col-2">
                                <label for="password" class="form-label">Contraseña</label>
                            </div>
                            <div class="col-12">
                                <input type="password" name="password" class="form-control" id="password" placeholder="password" required>
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <div class="form-check">
                        <div class=" mx-auto col-10">
                            <input type="checkbox" class="form-check-imput" name="recuerdame" id="recuerdame">
                            <label for="remember me" class="form-check-label" style="color: black;">Recordar</label>
                        </div>
                    </div>
                    <br> <br>
                    <div class="form-group">
                        <div class="d-grid gap-2 mx-auto col-4">
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
                        </div>
                    </div>
                    <br>

                </form>
                <div th:if="${param.error}" class="alert alert-danger" role="alert">
                    Nombre de usuario y Contraseña Invalidas.
                </div>
                <div th:if="${param.logout}" class="alert alert-success" role="alert">
                    Saliste de la Aplicacion correctamente.
                </div>
            </div>
        </div> 
        <section th:replace="layout/plantilla :: section"></section>
    <!-- Start Footer -->
    <footer th:replace="layout/plantilla :: footer"></footer>
    <!-- End Footer -->

    <div th:insert="layout/plantilla :: scripts"></div>
    </body>
</html>

