<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Fin Alta de Negocio</title>
        <div th:insert="layout/plantilla :: head"></div>
    </head>
<body>
   
    <!-- NAVBAR -->
    <nav th:replace="layout/plantilla :: nav"></nav>
    <!-- END NAVBAR --> 
    <br>

    <div>Negocio dado de Alta</div>
    <a href="/">volver al inicio</a>

    <section th:replace="layout/plantilla :: section"></section>

    <!-- Start Footer -->
    <footer th:replace="layout/plantilla :: footer"></footer>
    <!-- End Footer -->
    
    <div th:insert="layout/plantilla :: scripts"></div>
</body>
</html>