<!DOCTYPE html>
<html lang="es">
<head>
    <title>Alta de Negocio</title>
    <div th:insert="layout/plantilla :: head"></div>
</head>
<body>
    <!-- NAVBAR -->
    <nav th:replace="layout/plantilla :: nav"></nav>
    <!-- END NAVBAR --> 
    <br><br>
    <!-- inicio --> 
	<div class="container">
        <div class="row">
            <div class="d-grid gap-2 mx-auto col-10">
                <h1>Formulario para el alta de Negocio</h1>
		        <p class="lead">Ingrese los datos de su negocio para poder comenzar a vender sus productos atraves de la 
                            aplicacion</p>
            </div>
            
        </div>
		<div class="row">
            <form th:action="@{altaNegocio}" th:object=${negocio} method="POST" >
                
                <div class="form-group">
                    <div class="d-grid gap-2 mx-auto col-10">
                        <div class="col-2">
                            <label for="firstName" class="form-label">Nombre</label>
                        </div>
                        <div class="col-12">
                            <input type="text" th:field="*{nombre}" class="form-control" id="firstName" placeholder="Nombre de su negocio" value="" required>
                            <div class="invalid-feedback">Valid first name is required.</div>
                        </div>
                    </div>
                </div>
                <br>

                <div class="form-group">
                    <div class="d-grid gap-2 mx-auto col-10">
                        <div class="col-2">
                            <label for="address" class="form-label">Direccion</label>
                        </div>
                        <div class="col-12">
                            <input type="text" th:field="*{direccion}" class="form-control" id="address" placeholder="Ej. Calle 123" required>
                            <div class="invalid-feedback">Please enter your address.</div>
                        </div>
                    </div>
                </div>
                <br>

                <div class="form-group">
                    <div class="d-grid gap-2 mx-auto col-10">
                        <div class="col-2">
                            <label for="address" class="form-label">Ciudad</label>
                        </div>
                        <div class="col-12">
                            <input type="text" th:field="*{localidad}" class="form-control" id="address" placeholder="Ciudad donde se encuentra su negocio" required>
                            <div class="invalid-feedback">Please enter your city.</div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <div class="d-grid gap-2 mx-auto col-10">
                        <div class="col-2">
                            <label for="telephone" class="form-label">Telefono</label>
                        </div>
                        <div class="col-12">
                            <input type="text" th:field="*{telefono}" class="form-control" id="address" placeholder="telefono" aria-describedby="phoneHelp" required>
                            <div class="invalid-feedback">Please enter your Phone.</div>
                            <div id="phoneHelp" class="form-text">Numero de telefono por ej. 1133558899</div>
                        </div>
                    </div>
                </div>
                <br> <br> <!-- salto de linea -->

                <div class="form-group">
                    <div class="d-grid gap-2 mx-auto col-4">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Continuar</button>
                    </div>
                </div>
                <br>

            </form>
        </div>
	</div>

	<section th:replace="layout/plantilla :: section"></section>

    <!-- Start Footer -->
    <footer th:replace="layout/plantilla :: footer"></footer>
    <!-- End Footer -->

    <div th:insert="layout/plantilla :: scripts"></div>
</body>
</html>

<!--
<form th:action="@{/negociosPorZona}" method="GET">
    <input type="Ingresar Zona" name="localidad">
    <button type="submit">Buscar</button>
</form>
-->


