<!DOCTYPE html>
<html lang="es">
<head>
  <title>Alta de Negocio</title>
  <div th:insert="layout/plantilla :: head"></div>
</head>
<body>
<!-- NAVBAR -->
<nav th:replace="layout/plantilla :: nav"></nav>
<!-- END NAVBAR -->
<br><br>
<!-- inicio -->
<div class="container">
  <div class="row">
    <div class="d-grid gap-2 mx-auto col-10">
      <h1>Formulario para el alta de Negocio</h1>
      <p class="lead">Ingrese los datos de su negocio para poder comenzar a vender sus productos
        atraves de la
        aplicacion</p>
    </div>

  </div>
  <div class="row">
    <form method="POST" th:action="@{/altaNegocio} " th:object=${negocio}>

      <div class="form-group">
        <div class="d-grid gap-2 mx-auto col-10">
          <div class="col-2">
            <label class="form-label" for="firstName">Nombre</label>
          </div>
          <div class="col-12">
            <input class="form-control" id="firstName" placeholder="" required
                   th:field="*{nombre}" type="text" value="">
            <div class="invalid-feedback">Valid first name is required.</div>
          </div>
        </div>
      </div>
      <br>

      <div class="form-group">
        <div class="d-grid gap-2 mx-auto col-10">
          <div class="col-2">
            <label class="form-label" for="address">Direccion</label>
          </div>
          <div class="col-12">
            <input class="form-control" id="address" placeholder="address" required
                   th:field="*{direccion}" type="text">
            <div class="invalid-feedback">Please enter your address.</div>
          </div>
        </div>
      </div>
      <br>

      <div class="form-group">
        <div class="d-grid gap-2 mx-auto col-10">
          <div class="col-2">
            <label class="form-label" for="address">Ciudad</label>
          </div>
          <div class="col-12">
            <input class="form-control" id="address" placeholder="city" required
                   th:field="*{localidad}" type="text">
            <div class="invalid-feedback">Please enter your city.</div>
          </div>
        </div>
      </div>
      <br>
      <div class="form-group">
        <div class="d-grid gap-2 mx-auto col-10">
          <div class="col-2">
            <label class="form-label" for="telephone">Telefono</label>
          </div>
          <div class="col-12">
            <input class="form-control" id="address" placeholder="telefono" required
                   th:field="*{telefono}" type="text">
            <div class="invalid-feedback">Please enter your Phone.</div>
          </div>
        </div>
      </div>
      <br>

      <br> <br> <!-- salto de linea -->

      <div class="form-group">
        <div class="d-grid gap-2 mx-auto col-4">
          <button class="btn btn-primary btn-lg btn-block" type="submit">Continuar</button>
        </div>
      </div>
      <br>

    </form>
  </div>
</div>

<section th:replace="layout/plantilla :: section"></section>

<!-- Start Footer -->
<footer th:replace="layout/plantilla :: footer"></footer>
<!-- End Footer -->

 <div th:insert="layout/plantilla :: scripts"></div>




